<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="sugar_task_editor.html">
<link rel="import" href="sugar_task_summary.html">

<dom-module id="sugar-task-list-item">
  <template>
    <style>
      #readView, #editView {
        position: relative;
      }
      sugar-task-summary {
        margin-right: 30px;
      }
      .quickActions {
        position: absolute;
        right: 0;
        top: 0;
      }
      .quickActions > paper-icon-button {
        color: #888;
        width: 15px;
        height: 15px;
        padding: 0;
      }
      .quickActions > paper-icon-button:hover {
        color: #1b1b1b;
      }
      .actions {
        margin-top: 20px;
        font-size: 13px;
      }
    </style>
    <template is="dom-if" if="[[!isBeingEdited]]">
      <div id="readView">
        <sugar-task-summary task="{{task}}"></sugar-task-summary>
        <div class="quickActions">
          <paper-icon-button mini
                             icon="query-builder"
                             on-tap="onSnooze"></paper-icon-button>
          <paper-icon-button mini
                             icon="create"
                             on-tap="onEditorEnter"></paper-icon-button>
          <paper-icon-button mini
                             icon="done"
                             on-tap="onMarkDone"></paper-icon-button>
        </div>
      </div>
    </template>
    <template is="dom-if" if="[[isBeingEdited]]">
      <div id="editView">
        <sugar-task-editor task="{{editorTask}}"></sugar-task-editor>
        <div class="actions">
          <paper-button id="editorCancel"
                        raised
                        on-tap="onEditorCancel">Cancel</paper-button>
          <paper-button id="editorSave"
                        raised
                        on-tap="onEditorSave">Save</paper-button>
        </div>
      </div>
    </template>
  </template>
  <script>
Polymer({
  is: 'sugar-task-list-item',

  properties: {
    task: Object,
    editorTask: Object,
    isBeingEdited: {
      type: Boolean,
      value: false
    }
  },

  onSnooze: function() {
    if (!this.task.scheduledTime) return;
    var midnightTomorrow = new Date();
    midnightTomorrow.setHours(24, 0, 0, 0);
    this.set('task.scheduledTime', midnightTomorrow.getTime());
    this.fire('edit-task', this.editorTask);
  },

  onMarkDone: function() {
    this.set('task.status', 'done');
    this.fire('edit-task', this.editorTask);
  },

  onEditorEnter: function() {
    // Make a shallow copy of the task for the editor to use. This allows the
    // user to hit a cancel button and have the task stay in its prior state.
    var taskCopy = {};
    Object.assign(taskCopy, this.task);
    this.set('editorTask', taskCopy);
    this.isBeingEdited = true;
  },

  onEditorSave: function() {
    this.fire('edit-task', this.editorTask);
    this.isBeingEdited = false;
  },

  onEditorCancel: function() {
    this.isBeingEdited = false;
  }
});
  </script>
</dom-module>
