<dom-module id="sugar-task-summary">
  <template>
    <style>
      button {
        display: block;
        margin-top: .75rem;
      }
      button[hidden] {
        display: none;
      }
    </style>
    <div class="row">
         <div class="col-md-1">{{task.status}}</div>
         <div><strong>{{task.description}}</strong></div>
    </div>
    <button class="btn btn-sm btn-success" hidden="{{!task.scheduledTime}}">
      Scheduled: {{computeTimeText(task.scheduledTime)}}
    </button>
    <button class="btn btn-sm btn-danger" hidden="{{!task.deadlineTime}}">
      Deadline: {{computeTimeText(task.deadlineTime)}}
    </button>
  </template>
  <script>
Polymer({
  is: 'sugar-task-summary',

  properties: {
    task: Object
  },

  // TODO(charliea): This "compute the human-readable value from the database
  // value" logic is duplicated: once in sugar_time_input.html, and once
  // here. How can I consolidate that logic? Is there some way to use a wrapper
  // around the database object?
  computeTimeText: function(time) {
    return time ? new Date(time).toLocaleString() : 'none';
  }
});
  </script>
</dom-module>
