<dom-module id="sugar-task-summary">
  <template>
    <div hidden="{{!task.status}}">{{task.status}}</div>
    <div>{{task.description}}</div>
    <div hidden="{{!task.scheduledTime}}">{{computeTimeText(task.scheduledTime)}}</div>
  </template>
  <script>
Polymer({
  is: 'sugar-task-summary',

  properties: {
    task: Object
  },

  // TODO(charliea): This "compute the human-readable value from the database
  // value" logic is duplicated: once in sugar_time_input.html, and once
  // here. How can I consolidate that logic? Is there some way to use a wrapper
  // around the database object?
  computeTimeText: function(time) {
    return this.task.scheduledTime ?
        new Date(this.task.scheduledTime).toString() : 'none';
  }
});
  </script>
</dom-module>
