<dom-module id="sugar-task-summary">
  <template>
    <style>
      button {
        display: block;
        margin-top: .75rem;
      }
      button[hidden] {
        display: none;
      }
      #status {
        font-weight: bold;
      }
      .TODO {
        color: red;
      }
      .DONE {
        color: green;
      }
      .WAITING {
        color: #aaa;
      }
    </style>
    <div id="status" class$="{{task.status}}">{{task.status}}</div>
    <div>{{task.description}}</div>
    <div hidden="{{!task.scheduledTime}}">
      Scheduled: {{computeTimeText(task.scheduledTime)}}
    </div>
    <div hidden="{{!task.deadlineTime}}">
      Deadline: {{computeTimeText(task.deadlineTime)}}
    </div>
  </template>
  <script>
Polymer({
  is: 'sugar-task-summary',

  properties: {
    task: Object
  },

  // TODO(charliea): This "compute the human-readable value from the database
  // value" logic is duplicated: once in sugar_time_input.html, and once
  // here. How can I consolidate that logic? Is there some way to use a wrapper
  // around the database object?
  computeTimeText: function(time) {
    return time ? new Date(time).toLocaleString() : 'none';
  }
});
  </script>
</dom-module>
