<script src="../bower_components/chrono/chrono.js"></script>

<dom-module id="sugar-time-input">
  <template>
    <input id="textInput" type="text" />
    <span>{{computeTimeText_(time)}}</span>
  </template>
  <script>Polymer({
  is: 'sugar-time-input',

  properties: {
    time: {
      type: Number,
      notify: true
    }
  },

  listeners: {
    'textInput.input': 'onTextInput_'
  },

  onTextInput_: function(e) {
    var time = chrono.parseDate(this.$.textInput.value);
    this.set('time', (time === null) ? null : time.getTime());
  },

  computeTimeText_: function(time) {
    return this.time ? new Date(this.time).toString() : 'none';
  }
});
  </script>
</dom-module>
