<script src="../bower_components/chrono/chrono.js"></script>

<dom-module id="sugar-time-input">
  <template>
    <style>
      #timeText {
        text-align: right;
      }
    </style>
    <input id="textInput" type="text" placeholder$="{{placeholder}}" /><span id="timeText">({{computeTimeText_(time)}})</span>
  </template>
  <script>Polymer({
  is: 'sugar-time-input',

  properties: {
    time: {
      type: Number,
      notify: true
    },
    placeholder: {
      type: String,
      value: ""
    }
  },

  listeners: {
    'textInput.input': 'onTextInput_'
  },

  reset: function() {
    this.$.textInput.value = '';
  },

  onTextInput_: function(e) {
    var time = chrono.parseDate(this.$.textInput.value);
    this.set('time', (time === null) ? null : time.getTime());
  },

  computeTimeText_: function(time) {
    return this.time ? new Date(this.time).toLocaleString() : 'none';
  }
});
  </script>
</dom-module>
