<link rel="import" href="sugar_tags_input.html">
<link rel="import" href="sugar_time_input.html">

<dom-module id="sugar-task-editor">
  <template>
    <div>
      <label>Status</label>
      <select value="{{task.status::change}}">
        <option value="">none</option>
        <option value="todo">todo</option>
        <option value="waiting">waiting</option>
        <option value="done">done</option>
      </select>
    </div>
    <div>
      <label>Description</label>
      <input label="Task description"
             value="{{task.description::input}}" />
    </div>
    <div>
      <label>Scheduled time</label>
      <sugar-time-input placeholder="Scheduled time"
                        time="{{task.scheduledTime}}"></sugar-time-input>
    </div>
    <div>
      <label>Deadline time</label>
      <sugar-time-input placeholder="Deadline time"
                        time="{{task.deadlineTime}}"></sugar-time-input>
    </div>
    <div>
      <label>Tags</label>
      <sugar-tags-input tags="{{task.tags}}" knownTags="{{knownTags}}"></sugar-tags-input>
  </template>
  <script>
Polymer({
  is: 'sugar-task-editor',

  properties: {
    task: Object,
    knownTags: Array
  }
});
  </script>
</dom-module>
