<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="sugar_task_editor.html">
<link rel="import" href="sugar_task_summary.html">

<dom-module id="sugar-task-list-item">
  <template>
    <style>
      #readView, #editView {
        position: relative;
      }
      sugar-task-summary {
        margin-right: 30px;
      }
      .quickActions {
        position: absolute;
        right: 0;
        top: 0;
      }
      .quickActions > paper-icon-button {
        color: #888;
        width: 15px;
        height: 15px;
        padding: 0;
      }
      .quickActions > paper-icon-button:hover {
        color: #1b1b1b;
      }
      .actions {
        margin-top: 20px;
        font-size: 13px;
      }
    </style>
    <div id="readView" hidden="{{isBeingEdited}}">
      <sugar-task-summary task="{{task}}"></sugar-task-summary>
      <div class="quickActions">
        <paper-icon-button mini id="editorEnter" icon="create"></paper-icon-button>
      </div>
    </div>
    <div id="editView" hidden="{{!isBeingEdited}}">
      <sugar-task-editor task="{{editorTask}}"></sugar-task-editor>
      <div class="actions">
        <paper-button id="editorCancel" raised>Cancel</paper-button>
        <paper-button id="editorSave" raised>Save</paper-button>
      <div>
    </div>
  </template>
  <script>
Polymer({
  is: 'sugar-task-list-item',

  properties: {
    task: Object,
    editorTask: Object,
    isBeingEdited: {
      type: Boolean,
      value: false
    }
  },

  listeners: {
    'editorEnter.tap': 'onEditorEnter',
    'editorSave.tap': 'onEditorSave',
    'editorCancel.tap': 'onEditorCancel'
  },

  onEditorEnter: function() {
    // Make a shallow copy of the task for the editor to use. This allows the
    // user to hit a cancel button and have the task stay in its prior state.
    var taskCopy = {};
    Object.assign(taskCopy, this.task);
    this.set('editorTask', taskCopy);
    this.isBeingEdited = true;
  },

  onEditorSave: function() {
    this.fire('edit-task', this.editorTask);
    this.isBeingEdited = false;
  },

  onEditorCancel: function() {
    this.isBeingEdited = false;
  }
});
  </script>
</dom-module>
