<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="sugar_task_editor.html">

<dom-module id="sugar-task-creator">
  <template>
    <style>
      paper-dialog {
        min-width: 500px;
      }
      .actions {
        margin-top: 20px;
        font-size: 13px;
      }
    </style>
    <paper-dialog id="dialog" modal>
      <h2>Create task</h2>
      <form id="createTaskForm">
        <sugar-task-editor id="taskEditor" task="{{task}}"></sugar-task-editor>
        <div class="actions">
          <paper-button id="cancelButton" raised dialog-dismiss>Cancel</paper-button>
          <paper-button id="createButton" raised dialog-confirm autofocus>Create</paper-button>
        </div>
      </form>
    </paper-dialog>
  </template>
  <script>
Polymer({
  is: 'sugar-task-creator',

  properties: {
    task: {
      type: Object,
      value: () => {
        return {
          status: 'todo',
          description: '',
          scheduledTime: null,
          deadlineTime: null,
          tags: [],
        };
      }
    }
  },

  listeners: {
    'cancelButton.tap': 'reset',
    'createButton.tap': 'onCreateTask'
  },

  show: function() {
    this.$.dialog.open();
  },

  reset: function() {
    // TODO(charliea): Is there any way to avoid this? Right now, it's necessary
    // because the time text controls the time value but not vice versa.
    this.$.taskEditor.reset();

    // TODO(charliea): Is there a way to share the initialization here and
    // above? It looks like we can't use a `createDefaultTask()` function
    // because it's not available yet when the property initialization happens.
    this.task = {
      status: 'todo',
      description: '',
      scheduledTime: null,
      deadlineTime: null,
      tags: []
    };
  },

  onCreateTask: function(e) {
    e.preventDefault();
    this.fire('create-task', this.task);
    this.reset();
  }
});
</script>
</dom-module>
