<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="sugar_time_input.html">

<dom-module id="sugar-task-editor">
  <template>
    <div>
      <paper-dropdown-menu label="Status">
        <paper-listbox class="dropdown-content"
                       selected="{{task.status}}"
                       attr-for-selected="value">
          <paper-item value="todo">todo</paper-item>
          <paper-item value="waiting">waiting</paper-item>
          <paper-item value="done">done</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>
      <paper-input id="textInput"
                   label="Task description"
                   value="{{task.description}}"></paper-input>
      <paper-dropdown-menu label="Priority">
        <paper-listbox class="dropdown-content"
                       selected="{{task.priority}}">
          <paper-item>0</paper-item>
          <paper-item>1</paper-item>
          <paper-item>2</paper-item>
          <paper-item>3</paper-item>
          <paper-item>4</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>
      <sugar-time-input id="scheduledTimeInput"
                        label="Scheduled time"
                        time="{{task.scheduledTime}}"></sugar-time-input>
      <sugar-time-input id="deadlineTimeInput"
                        label="Deadline time"
                        time="{{task.deadlineTime}}"></sugar-time-input>
  </template>
  <script>
Polymer({
  is: 'sugar-task-editor',

  properties: {
    task: Object
  },

  reset: function() {
    this.$.scheduledTimeInput.reset();
    this.$.deadlineTimeInput.reset();
  }
});
  </script>
</dom-module>
