<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<script src="../bower_components/moment/moment.js"></script>

<dom-module id="sugar-time-input">
  <template>
    <style>
      #timeText {
        text-align: right;
      }
    </style>
    <vaadin-date-picker id="dateInput"
                        label="[[label]]"
                        value="{{computeDateString_(time)}}"></vaadin-date-picker>
    <div hidden$="{{isTimeUnset_(time)}}">
      <p>at</p>
      <input id="timeInput"
             type="time"
             value="{{computeTimeString_(time)}}"/>
    </div>
    <!--<paper-input id="textInput" type="text" label="{{label}}"></paper-input>
    <span id="timeText">({{computeTimeText_(time)}})</span>-->
  </template>
  <script>Polymer({
  is: 'sugar-time-input',

  properties: {
    time: {
      type: Number,
      notify: true
    },
    label: {
      type: String,
      value: ""
    }
  },

  listeners: {
    'dateInput.value-changed': 'onDateChanged_',
    'timeInput.value-changed': 'onTimeChanged_'
  },

  /**
   * @returns {string} The given time as an ISO date string, e.g. "1970-20-01".
   */
  computeDateString_: function(time) {
    if (!time) return null;
    return new Date(time).toISOString().substr(0, 10);
  },

  /**
   * @returns {string} The given time as an ISO time string, e.g. "14:04:24".
   */
  computeTimeString_: function(time) {
    return moment(time).format("HH:mm:ss");
  },

  isTimeUnset_: function(time) {
    return !time;
  },

  onDateChanged_: function(e) {
    this.set('time', this.computeDate_());
  },

  onTimeChanged_: function(e) {
    this.set('time', this.computeDate_());
  },

  computeDate_: function() {
    var dateString = this.$.dateInput.value;
    if (!dateString) return null;
    var timeString = this.$.timeInput.value || '00:00';
    return moment(`${dateString} ${timeString}`).valueOf();
  }
});
  </script>
</dom-module>
