<link rel="import" href="sugar_edit_task_form.html">

<dom-module id="sugar-create-task-form">
  <template>
    <h2>Create task</h2>
    <form id="createTaskForm">
      <sugar-edit-task-form task="{{task}}"></sugar-edit-task-form>
      <input type="submit" value="Add" />
    </form>
  </template>
  <script>
Polymer({
  is: 'sugar-create-task-form',

  properties: {
    task: {
      type: Object,
      value: () => {
        return {
          status: 'todo',
          description: ''
        };
      }
    }
  },

  listeners: {
    'createTaskForm.submit': 'onCreateTask'
  },

  reset: function() {
    // TODO(charliea): Is there a way to share the initialization here and
    // above? It looks like we can't use a `createDefaultTask()` function
    // because it's not available yet when the property initialization happens.
    this.task = {
      status: 'todo',
      description: ''
    };
  },

  onCreateTask: function(e) {
    e.preventDefault();
    this.fire('create-task', this.task);
    this.reset();
  }
});
</script>
</dom-module>
