<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">

<dom-module id="sugar-header">
  <template>
    <paper-toolbar>
      <span class="title">Sugar</span>
      <template is="dom-if" if="[[user]]">
        <paper-button raised id="signOut" on-tap="onSignOut">
          Sign Out
        </paper-button>
      </template>
      <template is="dom-if" if="[[!user]]">
        <paper-button raised id="signIn" on-tap="onSignIn">
          Sign In With Google
        </paper-button>
      </template>
    </paper-toolbar>
  </template>
  <script>
Polymer({
  is: 'sugar-header',

  properties: {
    user: Object
  },

  onSignIn: function() {
    this.fire('sign-in');
  },

  onSignOut: function() {
    this.fire('sign-out');
  }
});
  </script>
</dom-module>
