<dom-module id="sugar-header">
  <template>
    <nav>
      <template is="dom-if" if="[[user]]">
        <button id="signOut" on-tap="onSignOut">
          Sign Out
        </button>
      </template>
      <template is="dom-if" if="[[!user]]">
        <button id="signIn" on-tap="onSignIn">
          Sign In With Google
        </button>
      </template>
    </nav>
  </template>
  <script>
Polymer({
  is: 'sugar-header',

  properties: {
    user: Object
  },

  onSignIn: function() {
    this.fire('sign-in');
  },

  onSignOut: function() {
    this.fire('sign-out');
  }
});
  </script>
</dom-module>
