<link rel="import" href="../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../bower_components/polymerfire/firebase-document.html">
<link rel="import" href="../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="sugar_task_creator.html">
<link rel="import" href="sugar_header.html">
<link rel="import" href="sugar_task_list.html">

<dom-module id="sugar-app">
  <template>
    <firebase-app app-name="sugar"
                  api-key="AIzaSyA_AZemalItTtJAwk-X4nsJjdfF0mEg3hA"
                  auth-domain="sugar-119d4.firebaseapp.com"
                  database-url="https://sugar-119d4.firebaseio.com"
                  storage-bucket="sugar-119d4.appspot.com"></firebase-app>
    <firebase-auth id="auth"
                   user="{{user}}"
                   provider="google"
                   on-error="onError"></firebase-auth>

    <firebase-query id="tasksDocument"
                    path="/users/[[user.uid]]/tasks"
                    data="{{tasks}}"></firebase-query>
    <firebase-document id="taskDocument"></firebase-document>

    <sugar-header id="header"
                  user="[[user]]"
                  on-sign-in="onSignIn",
                  on-sign-out="onSignOut"></sugar-header>
    <sugar-task-creator on-create-task="onCreateTask" hidden="[[!user]]"></sugar-task-creator>
    <sugar-task-list tasks="{{tasks}}"
                     hidden="[[!user]]"
                     on-edit-task="onEditTask"></sugar-task-list>

  </template>
  <script>
Polymer({
  is: 'sugar-app',

  onError: function() {
    window.location = "not_logged_in.html";
  },

  onSignIn: function() {
    this.$.auth.signInWithPopup();
  },

  onSignOut: function() {
    this.$.auth.signOut();
  },

  onCreateTask: function(e) {
    this.saveTask_(e.detail);
  },

  onEditTask: function(e) {
    let task = e.detail;

    // Firebase complains if we try to save an object that still has the $key
    // property on it. Delete it before attempting the save.
    let key = task.$key;
    delete task.$key;

    this.saveTask_(task, key);
  },

  saveTask_: function(task, key) {
    this.$.taskDocument.set('data', task);
    this.$.taskDocument.save(`/users/${this.user.uid}/tasks`, key).then(
      () => {},
      (error) => { window.alert(error); }
    );
    this.$.taskDocument.reset();
  }
});
  </script>
</dom-module>
